.animal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.animal-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  /* Ajuste conforme necessário */
}

.button-status {
  background-color: #4CAF50;
  /* Verde para todos inicialmente */
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}