/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #333;
}

.animal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.animal-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px; /* Ajuste conforme necessário */
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-bar button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.top-bar button:hover {
  background-color: #0056b3;
}

/* Adicione estilos específicos para o formulário de cadastro */
.cadastrar-animal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastrar-animal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cadastrar-animal label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.cadastrar-animal input,
.cadastrar-animal select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.cadastrar-animal button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
}

.cadastrar-animal button:hover {
  background-color: #218838;
}
